.hero {
  margin-bottom: .4em;
}


@include respond-to(medium) {
  .hero {
    float: left;
    padding-right: 1em;
    width: 70%;
    max-width: 560px;
  }
  [role="main"] {
    article:first-of-type {
    }
    article:nth-of-type(2) {
      clear: both;
    }
  }
}


[role="main"] article {
background: lighten($grey,20%);
padding: .4em .8em;
margin-bottom: .8em;
}