@import "compass";
@import "partials/normalize";

@include font-face("fontello", font-files("fontello/fontello.ttf", "fontello/fontello.eot", "fontello/fontello.svg", "fontello/fontello.woff"));

$grey: #b3b3b3;
$red: #b5121b;
$break-small: 550px;
$break-medium: 720px;
$break-large: 900px;