

header {
  @include background-image(linear-gradient(top, $red, darken($red,10%)));
  border-bottom: solid white 0.3em;
  @extend .clearfix;
  // icons
  [class^="icon-"]{
    float: right;
    width: 18%;
    padding: 0.35em 0;
    line-height: 1;
    text-decoration: none;
    color: white;
    font-size: 2em;
    text-align: center;
    span {
     display: none;
    }
    @include respond-to('medium'){
    border-left: 1px solid rgba(0,0,0,.2);
      span{
        display: block;
        margin-top: .2em;
        font-size: .5em;
      }
     }
     @include respond-to('large') {
      width: 13%;
     }

     @include respond-to('desktop') {
      max-width: 3em;
     }

    &:before {
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
      content: attr(data-icon);
      font-family: fontello;
      speak: none;
    }
  }

  .iqlogo {
    max-width: 32%;
    float: left;
    margin: .3em 0 0 .5em;
    height: 3.5em;
    width: 4em;
    background-repeat: no-repeat;
    background-size: contain;
    @extend %ir;
    background-image: url(../img/iqlogo.png);
    .svg & {
      background-image: url(../img/iqlogo.svg);
    }
    @include respond-to('medium'){
      max-width: 32%;
      margin: .3em 0 0 .5em;
      height: 4.2em;
      width: 5.2em;
     }
  }
}