@include dropdown(location);

 .location {
  li li{
    position: relative;
    margin: .5em;
    padding: .5em;
    background: rgba(255,255,255,.2);
    span {
      display: block;
    }
  }
  .distance{
    color: inherit;
    line-height: normal;
    font-size: .8em;
    position: absolute;
    right: .5em;
    top: .5em;
    bottom: .5em;
    padding: .25em .5em;
    background: rgba(0,0,0,.2);

    &:after {
      display: block;
      text-align: center;
      font-size: 1.3em;
      font-family: fontello;
      content: '\e715';
    }
  }
  @include respond-to('desktop') {
    display: block;
    max-height: 999em;
  }
}