.search {
  border-bottom: solid white 1px;
  padding: 0.5em 0;
  background: $grey;
  height: 3.6em;
  .iqlogo {
    float: left;
    margin-left: 3%;
    height: 3em;
    width: 3em;
  }
  input[type="text"] {
    margin: 0;
    width: 70%;
    margin: 0 1%;
    @extend %forminput;
  }
  input[type="submit"]{
    @extend %formsubmit;
    width: 25%;
 }

}

