
@import "global/base";
@import "styleguide/styleguide";
@import "design/design";





body {
  //@include background(linear-gradient(darken($grey,10%), $grey));
  overflow-x: hidden;
  @include respond-to('small'){
    &:after {
      content: 'small';
      display: none;
    }
  }
  @include respond-to('medium'){
    &:after {
      content: 'medium';
      display: none;
    }
  }
  @include respond-to('large'){
    &:after {
      content: 'large';
      display: none;
    }
  }
}


img {
  max-width: 100%;
  height: auto;
}



