@import "base";
@import "partials";
@import "layout";
@import "locations";
@import "login";
@import "header";
@import "nav";
@import "search";
@import "main";


body {
  overflow-x: hidden;
  @include respond-to('small'){
    &:after {
      content: 'small';
      display: none;
    }
  }
  @include respond-to('medium'){
    &:after {
      content: 'medium';
      display: none;
    }
  }
  @include respond-to('large'){
    &:after {
      content: 'large';
      display: none;
    }
  }
}


img {
  max-width: 100%;
  height: auto;
}

* {
  @include box-sizing(border-box);
}


