@import "global/base";
@import "design/partials";
@import "design/layout";
@import "design/locations";
@import "design/login";
@import "design/header";
@import "design/nav";
@import "design/search";
@import "design/main";
@import "design/blocks";





body {
  overflow-x: hidden;
  @include respond-to('small'){
    &:after {
      content: 'small';
      display: none;
    }
  }
  @include respond-to('medium'){
    &:after {
      content: 'medium';
      display: none;
    }
  }
  @include respond-to('large'){
    &:after {
      content: 'large';
      display: none;
    }
  }
}


img {
  max-width: 100%;
  height: auto;
}

* {
  @include box-sizing(border-box);
}


