//Variable file contains global colors, breakpoints and
//other values to be used in extends, mixins and properties

$grey: #b3b3b3;
$red: #b5121b;
$break-small: 550px;
$break-medium: 790px;
$break-large: 1000px;