.main article {
  $gutter-width: 2em;
  position: relative;
  margin-bottom: .7em;
  @include respond-to(small) {
    @include span-columns(12,12);
  }
  @include respond-to(medium) {
    @include span-columns(6,12);
    @include nth-omega('2n');

  }
  @include respond-to(large) {
    @include span-columns(3,12);
    @include remove-nth-omega(2n);
    @include nth-omega('4n');
  }
    .button1 {
    text-align: center;
    margin: 1em 0 .5em;
    @include background-image(linear-gradient(top, lighten($red, 10%), darken($red,10%)));
    display: block;
    color: white;
    text-transform: uppercase;
    @include border-radius(5px);
    @include box-shadow(inset 0px 1px 1px rgba(255,255,255,.4));
    padding: .4em 0;
    border: 1px solid darken($red, 10%);
    text-shadow: -1px -1px 0 rgba(0,0,0,.4);
    font-size: 1.1em;
    line-height: 1;

    &:hover {
      @include background-image(linear-gradient(top, lighten($red, 5%), darken($red, 15%)));
      text-shadow: 1px 1px 0 rgba(0,0,0,.6);
      @include box-shadow(inset 0px 1px 1px rgba(0,0,0,.4));

    }

      //  &:after {
      //   content: '\2611';
      //   font-family: fontello;
      //   margin-left: .6em;
      // }
    }
}


.homeblock {
  @include respond-to(medium){
   margin: .3em 0 0;
  }
  @include respond-to(large) {
    margin-top: 2em;
  }
  h2 {
    font-weight: 600;
    color: $red;
    font-size: 1em;
    margin-bottom: 0;
  }
  p {
    margin-top: .3em;
    font-size: .9em;
    line-height: 1.3;
  }
}


.insideblock {
  background: lighten($grey, 20%);
  margin-top: .5em;
   p {
    margin-top: .3em;
    font-size: .9em;
    line-height: 1.3;
  }
  h2 {
    background: darken($grey, 0%);
    color: $black;
    margin-bottom: 0em;
    font-size: 1.2em;
    margin-top: 0;
    text-align: center;
    padding: .1em;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
    text-align: left;
    clear: both;
    background: rgba(0,0,0, .1);
    padding: .2em .3em;
    margin-bottom: .3em;
    font-size: .8em;
    font-weight: bold;
    color: $black;
    span {
      float: right;
      font-style: italic;
      font-weight: 100;
    }
  }
  &>div {
    padding: 0 15px;
  }
}







