

header {
  li {
    list-style: none;
  }
  .wrapper {
    position: relative;
    @extend .clearfix;
  }
  @include background-image(linear-gradient(top, $red, darken($red,10%)));
  border-bottom: solid $grey 0.3em;
  // icons
  .icons {
    a{
      float: right;
      width: 18%;
      padding: 0.35em 0 .30em;
      line-height: 1;
      color: white;
      font-size: 1.7em;
      text-align: center;
      span {
        display: block;
        margin-top: .2em;
        font-size: .4em;
        em {
          display: none;
        }
      }
      &:before {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
        content: attr(data-icon);
        font-family: fontello;
        speak: none;
      }
    }
    .icon-search  {
    display: none;
    }

    @include respond-to('medium'){
      //.icons
      a {
        padding: 0.35em 0;
        border-left: 1px solid rgba(0,0,0,.2);
        span{
          margin-top: .2em;
          font-size: .4em;
        }
      }
    }

    @include respond-to('large') {
      & { //.icons
        position: absolute;
        right: .5em;
        top: 5%;
      }

      a {
        width: 3em;
        font-size: 1.4em;
        border: none;
        &:before {
          display: none;
        }
        span {
          margin-top: 0;
          font-size: .5em;
        }
      }
      .icon-mainnav {
        display: none;
      }
      .icon-search {
        display: block;
      }
      .icon-login {
        top: auto;
        font-size: 1.5em;
        // text-align: left;
        color: $grey;
        position: absolute;
        bottom: -84%;
        width: 100%;
        background: white;
        @include border-radius(.2em);
        border: 1px solid $grey;
        padding: .23em .6em;
        cursor: text;
        @include box-shadow(inset 0px 1px 9px #AAA);
        em {
          display: inline;
          text-transform: none;
        }
      }
     }
    //end icon styles

    @include respond-to('large') {

    }
  }

  .iqlogo {
    max-width: 32%;
    float: left;
    margin: .4em 0 0 .5em;
    height: 3.5em;
    width: 4em;
    background-repeat: no-repeat;
    background-size: contain;
    @extend %ir;
    background-image: url(../img/iqlogo.png);
    .svg & {
      background-image: url(../img/iqlogo.svg);
    }
    @include respond-to('medium'){
      max-width: 32%;
     }
  }
}
