.hero {
  margin-bottom: .4em;
  @include respond-to('large') {
  height: 300px;
  overflow: hidden;
  }
}





[role="main"] article {
background: lighten($grey,20%);
padding: .4em .8em;
margin-bottom: .8em;
}