

.clearfix {
    zoom:1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}

%ir {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

@mixin ir {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}



%forminput {
    line-height: 1.2;
    font-size: 1.2em;
    padding: .3em .5em;
    border: 1px solid darken($grey, 5%);
    @include border-radius(5px);
    @include box-shadow(inset 0px 1px 9px #aaa);
    @include respond-to(large) {
    border: 1px solid $grey;
    }
}

%formsubmit {
  @include box-shadow(1px 1px 1px rgba(0, 0, 0, 0.2));
  @include border-radius(5px);
  background: $red;
  color: white;
  border: none;
  padding: .3em;
  line-height: 1;
  font-size: 1.2em;
  border: 1px solid $red;
   @include respond-to(large) {
   font-size: 1em;
   line-height: 1.4em;
   position: relative;
   top: -2px;
    }
}









