%desktopmenu {
  @include respond-to('large') {
    float: left;
    width: 50%;
    margin-left: 1em;
    > ul{
      position: relative;
      > li {
        float: left;
        width: 30%;
        font-size: 1.2em;
        margin-top: .8em;
        padding: 0.35em 0 .6em;
        line-height: 1.4;
        text-align: center;
        margin-right: 2px;
        &:hover {
          box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.2);
          @include border-radius(10px 10px 0 0);
          background: lighten($grey, 10%);
          > a {
            position: relative;
            top: 2px;
            border-right: 1px solid rgba(0,0,0,0);
            color: $red;

          }
          > ul {
          max-height: 999em;
          padding: .5em;
          border: 2px solid lighten($grey, 10%);;
          }
        }
        &:last-child a {
          border-right: none;
        }
      }
      a{
        display: block;
        border-right: 1px solid rgba(0,0,0,.2);
        color: white;
        text-decoration: none;
      }
       ul {
        max-height: 0;
        overflow: hidden;
        background: #999;
        position: absolute;
        top: 3.1em;
        left: 0;
        width: 91%;
        li{
          text-align: left;
          float: none;
          width: auto;
          margin-top: 0;
          padding: 0.15em 0;
          text-decoration: none;
          margin-right: 0px;
          font-size: .7em;
        }
        a{
          color: white;
          border-right: none;


        }
      }
      span.opensecondary {
        display: none;
      }
    }
  }
}
